#login {
    background-color: #00838f;
    position: absolute;
    height: 100%;   
    width: 100%;
    margin: auto;
}

#login #painel-login {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#painel-login .card {
    border: solid 3px black;
    border-radius: 10px;
    width: 80%;
}
