<div id="login" class="row">
    <div class="col">
        <div id='painel-login' class="col-12 col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header">
                   <strong>Login</strong>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input id='nome-usuario' type="text" class="form-control" placeholder="Nome de usuário" onkeydown="autenticacao(event);">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="button" onclick="loginAuthentication()">
                        Entrar
                    </button>
                </div>
            </div>
        </div>
        <div class="col s12 ssm-center-parent">
            
        </div>
    </div>
</div>