<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" onclick="questionariosIndex()" href="#" >Minhas Perguntas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" onclick="responderIndex()" href="#">Responder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" onclick="renderSreenLogin()" href="#">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>