<div id='painel-minhas-perguntas'>
  <div>
    <p>
      <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#nova-pergunta"
        aria-expanded="false" aria-controls="nova-pergunta">
        Nova Pergunta
      </button>
    </p>
    <p>
    <div class='collapse' id='nova-pergunta'>
      <div class="input-group mb-3">
        <input id='inputNovaPergunta' type="text" class="form-control" placeholder="Nova Pergunta"
          aria-label="Nova Pergunta" aria-describedby="inserir-pergunta">
        <button class="btn btn-outline-secondary" type="button" id="inserir-pergunta" onclick="inserirPergunta()">
          Inserir Pergunta
        </button>
      </div>
    </div>
    </p>
  </div>
  <div id='minhas-perguntas'>
  </div>
</div>