#painel-minhas-perguntas {
    background-color: beige;
    padding: 20px;
}

#painel-minhas-perguntas .card {
    max-width: 700px;
    margin: auto;
}

#minhas-perguntas > .card > .card-body {
    text-align: left;
}

#nova-pergunta {
    max-width: 700px;
    margin: auto;
}

.respostas {
    margin: 5px;
}