#painel-responder {
    padding: 20px;
    background-color: beige;
}

#painel-responder .card {
    max-width: 700px;
    margin: auto;
}

#painel-responder > .card > .card-body {
    text-align: left;
}

#input-resposta {
    margin: 2px;
}

#inserir-resposta {
    margin-top: 15px;
    align-items: center;
}