﻿<!DOCTYPE html>
<html>

<head>
    <title>Candidatura - Diego Souza Rodrigues</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="~/css/site.css"/>
      <link type="text/css" rel="stylesheet" href="~/pages/questionarios/questionarios.css"/>
      <link type="text/css" rel="stylesheet" href="~/pages/responder/responder.css"/>
      <link type="text/css" rel="stylesheet" href="~/pages/login/login.css"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body onload="renderSreenLogin();">
    <div id="main" class="container-fluid" hidden="hidden">
        <div class="row">
            <div id="sidebar" class="col-xs-12 col-sm-4 col-md-3"></div>
            <div id="wrapper" class="col-xs-12 col-sm-8 col-md-9"></div>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/assets/common.js"></script>
    <script type="text/javascript" src="~/pages/questionarios/questionarios.js"></script>
    <script type="text/javascript" src="~/pages/responder/responder.js"></script>
    <script type="text/javascript" src="~/pages/login/login.js"></script>
    <script type="text/javascript" src="~/navbar/navbar.js"></script>
    
    <div id="navbar"></div>
    <div id="app"></div>
    <span id="user" hidden></span>
</body>
<footer>
    <strong>
        Desenvolvido por: <a href="https://www.linkedin.com/in/diegorodriguesdev/">Diego Souza Rodrigues</a>
    </strong>

</footer>
</html>